@charset "utf-8";
html,body{height: 100%;}
body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  background: #000;
  color:#fff;
  text-align: center;
}
*{
    padding: 0;
    margin: 0;
}
li{list-style: none;}
header,.left,.right{
    position: absolute;
}
header{
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    height: 150px;
    border:1px solid #fff;
}
header h1{
    font-size: 40px;
    height: 60px;
    line-height: 60px;
}
header p{
    margin-bottom: 20px;
}
header span{
    cursor: pointer;
}
.left{
    left: 10px;
    top: 170px;
    bottom: 10px;
    width: 200px;
    border:1px solid #fff;
}
.left ul{
    overflow:auto;
}
.left ul li{
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.left ul li::before{
    content: "·";
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 24px;
    margin-right: 10px;
}
.left ul li.selected{
    color:greenyellow;
}
.right{
    top: 170px;
    right: 10px;
    bottom: 10px;
    left: 220px;
    border:1px solid #fff;
}
